<html>
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
{{ table | replace('table style="width:100%"', 'table id="datatable" class="display" style="width:100%"', 1) }}
<script type = "text/javascript">
$(document).ready(function() {
    $('#datatable').DataTable();
} ); 
</script>
</body></html>