{%- if command == "acl" %}

{%- else %}
{%- if command == "arp" %}

{%- else %}
{%- if command == "bgp" %}

{%- else %}
{%- if command == "hsrp" %}

{%- else %}
{%- if command == 'interface' %}

{%- else %}
{%- if command == "ntp" %}

{%- else %}
{%- if command == 'ospf' %}

{%- else %}
{%- if command == "platform" %}

{%- else %}
{%- if command == "routing" %}

{%- else %}
{%- if command == "vlan" %}

{%- else %}
{%- if command == 'vrf' %}

{%- else %}
{%- if command == "show access-lists" %}

{%- else %}
{%- if command == "show bgp process vrf all" %}

{%- else %}
{%- if command == "show bgp sessions" %}

{% else %}
{% if command == "show cdp neighbors" %}

{%- else %}
{%- if command == "show cdp neighbors detail" %}

{%- else %}
{%- if command == "show environment" %}

{%- else %}
{%- if command == "show port-channel summary" %}

{%- else %}
{%- if command == "show interface" %}

{%- endfor %}
{% else %}
{%- if command == "show interface status" %}

{%- else %}
{%- if command == "show interface transceiver" %}

{%- else %}
{%- if command == "show inventory" %}

{%- else %}
{% if command == "show ip arp vrf all" %}

{%- else %}
{%- if command == "show ip interface brief" %}

{%- else %}
{%- if command == "show ip ospf" %}

{%- else %}
{%- if command == "show ip ospf interface" %}

{%- else %}
{%- if command == "show ip ospf interface vrf all" %}

{%- else %}
{%- if command == "show ip ospf neighbors detail" %}

{%- else %}
{%- if command == "show ip ospf neighbors detail vrf all" %}

{%- else %}
{%- if command == "show ip route" %}

{%- else %}
{%- if command == "show ip route vrf all" %}

{%- else %}
{%- if command == "show mac address-table" %}

{%- else %}
{%- if command == "show version" %}

{%- else %}
{%- if command == "show vlan" %}

{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}